.Menu{
    padding: 10px 0;
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row-gap: 10px;
    transition: .5s;
    .item{
        margin-top: 10px !important;
        margin-left: 5%;
        height: 300px;
        width: 20%;
        position: relative;
        overflow: hidden;
        border-radius: 90px;
        img{
            width: 100%;
            height: 80%;
            margin:auto;
        }
        .button{
            color: #aa0000;
            font-weight: 900;
            position: absolute;
            top: 70px;
            right: 3px;
            cursor: pointer;
            user-select: none;
            border: #aa0000 2px solid;
            padding: 0 5px;
            transition: .5s;
            &:hover{
                border-color:#ff0000;
                color:#ff0000;    
            }
        }
        .buttonAdd{
            transition: .5s;
            color: #aa0000;
            border: #aa0000 2px solid;
            padding:5px;
            position: absolute;
            bottom:105px;
            right: 5px;
            cursor: pointer;
            user-select: none;
            &:hover{
                color: #ff0000;
                border: #ff0000 2px solid;
                border-radius: 30px;
            }
        }
        .container{
            display: flex;
            justify-content: center;
            background-color:#555;
           padding-bottom: 10px; 
            .title{
                text-align: center;
                margin: 10px;
                text-transform: capitalize;
            }
        }

    }
    .item.input{
        height: 300px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 10px;
        background: #555;
            img{
                width: 70%;
                margin:30px 15%;
            }
    }
    .container.input{
        position: absolute;
        bottom: 0;
        display: block;
        justify-content: center;
        padding:0;
        input{
            width: 90%;
            font-size: 20px;
            border-radius: 20px;
            margin:5px 10px !important; 
            text-align: center;
            border:none;
            background: #ccc;
            
        }
    }
}